/node_modules
/public/hot
/public/storage
/public/bundle
/public/bundle2
/public/img/school_images
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
frontend/admin/bundle/
frontend/admin/node_modules/
frontend/school/bundle/
frontend/school/node_modules/
public/bundle
resources/views/home.blade.php
resources/views/escuela.blade.php