input:valid {
    border-color: green;
    height: 34px;
}

input:invalid {
    border-color: red;
    height: 34px;
}

textarea:invalid {
    border-color: red;
}

textarea:valid {
    border-color: green;
}

.h-tooltip {
    z-index: 99999!important;
}

.ribbon-wrapper.ribbon-xl {
    height: 100%;
    width: 175px;
}

.btn-default {
    background-color: #f8f9fa;
    border-color: #ddd;
    color: #444;
}

.btn-app {
    border-radius: 3px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    color: #6c757d;
    font-size: 12px;
    height: 60px;
    margin: 0 0 10px 10px;
    min-width: 80px;
    padding: 15px 5px;
    position: relative;
    text-align: center;
}